*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
background-color: black;
}
.main{
    
    background: #000000;
    white-space: nowrap;
    

}
.main .img-slide{

    display: inline-block;
    overflow: hidden;
    padding: 50px 0;
    white-space: nowrap;
    animation: 10s ami infinite linear;
    
}
.main .img-slide img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    pos
    
}
@keyframes ami {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateY(0);
    }
    
}